name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  apk:
    name: Generate APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Setup JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: "17"
      - name: Set execution flag for gradlew
        run: chmod +x gradlew
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Install Android Build Tools
        run: sdkmanager "build-tools;29.0.3"
      - name: Build APK
        run: bash ./gradlew assembleRelease --stacktrace
      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: composeApp/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.KEYSTORE_B64 }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEYSTORE_PASSWORD }}
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: signed-apk
          path: composeApp/build/outputs/apk/release/composeApp-release-signed.apk

  dmg:
    name: Generate DMG
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Setup JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: "17"
      - name: Set execution flag for gradlew
        run: chmod +x gradlew
      - name: Build DMG
        run: bash ./gradlew packageDmg --stacktrace
      - name: Upload DMG Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dmg-package
          path: composeApp/build/compose/binaries/main/dmg/*.dmg

  msi:
    name: Generate MSI
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Setup JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: "17"
      - name: Build MSI
        run: ./gradlew packageMsi --stacktrace
      - name: Upload MSI Artifact
        uses: actions/upload-artifact@v4
        with:
          name: msi-package
          path: composeApp/build/compose/binaries/main/msi/*.msi

  deb:
    name: Generate DEB
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      - name: Setup JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: "17"
      - name: Set execution flag for gradlew
        run: chmod +x gradlew
      - name: Build DEB
        run: ./gradlew packageDeb --stacktrace
      - name: Upload DEB Artifact
        uses: actions/upload-artifact@v4
        with:
          name: deb-package
          path: composeApp/build/compose/binaries/main/deb/*.deb

  release:
    name: Release APK, DMG, MSI and DEB
    needs: [apk, dmg, msi, deb]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Download APK Artifact
        uses: actions/download-artifact@v4.1.7
        with:
          name: signed-apk

      - name: Download DMG Artifact
        uses: actions/download-artifact@v4.1.7
        with:
          name: dmg-package

      - name: Download MSI Artifact
        uses: actions/download-artifact@v4.1.7
        with:
          name: msi-package

      - name: Download DEB Artifact
        uses: actions/download-artifact@v4.1.7
        with:
          name: deb-package

      - name: List downloaded files (for debugging)
        run: ls -la

      - name: Get DMG filename
        id: dmg
        run: echo "file=$(ls *.dmg | head -n1)" >> $GITHUB_OUTPUT

      - name: Get MSI filename
        id: msi
        run: echo "file=$(ls *.msi | head -n1)" >> $GITHUB_OUTPUT

      - name: Get DEB filename
        id: deb
        run: echo "file=$(ls *.deb | head -n1)" >> $GITHUB_OUTPUT

      - name: Get version
        id: get_version
        run: echo "version=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      - name: Create Github Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}

      - name: Upload APK to Github Release
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: composeApp-release-signed.apk
          asset_name: Kai-${{ steps.get_version.outputs.version }}-android.apk
          asset_content_type: application/zip

      - name: Upload DMG to Github Release
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.dmg.outputs.file }}
          asset_name: Kai-${{ steps.get_version.outputs.version }}-macos.dmg
          asset_content_type: application/octet-stream

      - name: Upload MSI to Github Release
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.msi.outputs.file }}
          asset_name: Kai-${{ steps.get_version.outputs.version }}-windows.msi
          asset_content_type: application/octet-stream

      - name: Upload DEB to Github Release
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.deb.outputs.file }}
          asset_name: Kai-${{ steps.get_version.outputs.version }}-linux.deb
          asset_content_type: application/octet-stream